body {
    color: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(34, 34, 34);
    text-transform: lowercase;
}

img {
    width: 300px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    padding-right: 10px;
    color: rgb(64, 118, 206);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}