body {
    margin: 0;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

img {
    height: 200px;
}

.sectOne {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    background-color: pal;
}

.sectOneSub {
    margin: 2%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectOneSub>p,
h1,
button {
    margin: 10px 0px;
}

.sectTwo {
    min-height: 300px;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(149, 253, 201);
}

.imageContainers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.imageGroup {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectThree {
    min-height: 300px;
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectFour {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    padding: 0px 10%;
    background-color: rgb(149, 253, 201);
}

.fourContainer {
    margin: 0% 5%;
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(66, 252, 159);
    width: 500px;
    color: rgb(106, 106, 106);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: black 1px 1px 10px;
}

footer {
    text-align: center;
    background-color: black;
    margin: 0px;
    color: white;
    padding: 1px;
}